pandas
openpyxl
openai
langchain
langchain-openai
langchain-community
faiss-cpu
sentence-transformers
chromadb
rank_bm25
nltk
transformers
litellm
numpy
scikit-learn
tiktoken
fastapi
uvicorn
pydantic
streamlit

